<% content_for :title, "Bugs & Fixes" %>

<div class="top-level-container">
  <h1 class="hide@native margin-bs-xl text-large-title">Bugs & Fixes</h1>
  <p>An area to reproduce outstanding bugs and ensure no regressions on existing fixes reappear.</p>

  <p><i>No bugs currently being investigated.</i><p>

  <div class="formatted-list formatted-list--top-level">
    <%# render "navigations/item",
    path: some_bugs_path,
    icon: "custom-bug-icon",
    name: "Bug Title",
    description: "Description of bug." %>
  </div>
</div>
